.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  Left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.50);
  transition: .5s
}
.modal--isAtivo {
  opacity: 1;
  pointer-events: auto;
}
.modal_wrap {
  margin: 10%
}